_STORE
.idea/*
/.idea/
b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
reports

npm-debug.log
node_modules
.DS_STORE
private

.vagrant/
README.md
initproject.bat
initproject.sh
templates/
*.iml
.project
