extends layout
block content
    div(class="col-md-12 col-md-offset-3")
        div(class="row")
            div
            - each docArray in category
                div(style="margin-top:1%")
                    - each doc in docArray
                        a(href="/phalak/#{doc.image.substring(0, doc.image.indexOf('.'))}", style="margin:0.5%;")
                            img(src="http://d1tgx4h3dmbyi5.cloudfront.net/#{doc.image}", style="width: 12%;")
