script(src="http://d1tgx4h3dmbyi5.cloudfront.net/jquery-1.11.0.min.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
script(src="http://d1tgx4h3dmbyi5.cloudfront.net/main.js")