extends layout

block content
    div(class="container-fluid", style="margin-top:10%")
        div(class="col-md-10 col-md-offset-1")
            div(class="carousel slide" id="myCarousel")
                div(class="carousel-inner")
                    - each doc, index in docs
                        if index == 0
                            div(class="item active")
                        else
                            div(class="item")

                                div(class="col-xs-3")
                                    a(href="/phalak/#{doc.name.substring(0, doc.name.indexOf('.'))}")
                                        img(src="#{doc.url.replace('upload', 'upload/c_limit,h_470,w_335')}",class="img-thumbnail")



            a(class="left carousel-control" href="#myCarousel" data-slide="prev")
                i(class="glyphicon glyphicon-chevron-left")
            a(class="right carousel-control" href="#myCarousel" data-slide="next")
                i(class="glyphicon glyphicon-chevron-right")
