<!DOCTYPE HTML>
html
    include header
    body(style="background-image:url('http://res.cloudinary.com/dojwxtses/image/upload/c_scale,h_1741,w_1413/v1396164547/background_w5h9mo.jpg')")
        div(class="container-full")
            include navbar
            block content

    include footer