div(class="navbar navbar-default")
    div(class="navbar-header")
        a(class="navbar-brand" href="/")
            | मुख्य पान
        a(class="navbar-brand" href="/category/vyakti")
            | व्यक्तिविषयक
        a(class="navbar-brand" href="/category/vaishishtyapurna")
            | वैशिष्ट्यपूर्ण
            a(class="navbar-brand" href="/category/dinavishesh")
                | दिनविशेष
        a(class="navbar-brand" href="/category/kodi")
            | कोडी
        a(class="navbar-brand" href="/category/lalit")
            | ललित
