extends layout
block content
    body(style="background-image:url('../assets/img/background.jpg')")
        include navbar
        div(class="container")
            div(class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true")
            div(class="row" style="background-image:'/board.jpg'")
                div(class="row")
                    div(class="col-lg-30")
                        img(style="width: 100%; auto;padding-bottom:12%;margin:0 auto", src="http://d1tgx4h3dmbyi5.cloudfront.net/#{name}.jpg")
