extends layout
block content
    div(class="container")
        div(class="fb-like", data-href="https://developers.facebook.com/docs/plugins/", data-layout="standard", data-action="like", data-colorscheme='dark', data-share="true", style="text-color:white")
        div(class="row" style="background-image:'/board.jpg';margin-top:2%")
            div(class="row")
                div(class="col-lg-30")
                    img(style="width: 100%; auto;padding-bottom:12%;margin:0 auto", src="#{doc.url.replace('upload', 'upload/c_limit,h_1061,w_1170')}")
